body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.topnav #myLinks {
display: none;
}

.topnav a {
  float: left;
  color: #03989E;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #EBBEF8;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #03989E;
  color: #545454;
}

.active {
  background-color: white;
  color: #;
}

.logo-image img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
  background-color: white;
}

.header {
  display: flex;
  justify-content: center;
  color:#03989E;
}

.intro {
  display: flex;
  justify-content: center;
  color:#545454;
}

img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 150px;
  max-width: 200px;
  width: 120px;
  height: 120px;
}

.sections {
margin-top: -14rem;
padding-bottom: 1rem;
padding: 5rem 1.5rem;
text-align: center;
display: block;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: 1200px;
}

.box {
  background-color: #EBBEF8;
  border-radius: 6px;
  color:#545454;
  display: block;
  padding: 1.25rem;
}

.content {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.columns {
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  margin-bottom: -0.75rem;
  margin-top: -0.75rem;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align:baseline;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}