.logo-image img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.topnav #myLinks {
display: none;
}

.topnav a {
  color: #03989E;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #EBBEF8;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: white;
  color: #545454;
}

.active {
  background-color: white;
  color: #;
}